<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrwDCuqeQCe7ckn9nxFIg3RgFKQb2kFrE</string>
	<key>GCM_SENDER_ID</key>
	<string>831015555719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brickfeed.app</string>
	<key>PROJECT_ID</key>
	<string>legogram-14857</string>
	<key>STORAGE_BUCKET</key>
	<string>legogram-14857.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831015555719:ios:3208f4a19e8a6d27b05e22</string>
</dict>
</plist>